/* Global Styling */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  --northern_green: rgb(7, 66, 30);
  --lighter_green: rgb(46, 118, 73);
  --very_dark_green: rgba(2, 43, 8, 0.6);
  --lightest_green: rgba(86, 159, 96, 0.6);
  background-color: var(--northern_green);
  color: white;
}

h1, h3, p {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

/* Header and Description */

.header {
  color: var(--lighter_green);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  background-color: white;
}

.description {
  margin-bottom: 15px;
}

/* Form */

.prompt {
  font-size: 11pt;
  margin-bottom: 10px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  border: none;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 5px;
}

button {
  margin: 10px;
  background-color: var(--lighter_green);
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
    box-shadow: 0 9px var(--very_dark_green);
}

button:hover {
  /* box-shadow: 0 10px 20px 0 var(--very_dark_green) */
  background-color: var(--lightest_green);
}

button:active {
  /* background-color: #3e8e41; */
  box-shadow: 0 5px var(--very_dark_green);
  transform: translateY(4px);
}

::placeholder {
    text-align: center;
}

/* Table */

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: fit-content;
  min-width: 300px;
  border-radius: 10px;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: left;
}

table th {
  background-color: #f5f5f5;
  font-weight: bold;
  color: var(--northern_green);
}
